<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.Extensions" version="2.6.0.0" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net45" />
  <package id="NUnitTestAdapter.WithFramework" version="1.2" targetFramework="net45" />
  <package id="Selenium.Support" version="2.44.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.44.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.Extensions" version="0.10" targetFramework="net45" />
</packages>